<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winners</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>

<body>

    <div class="container">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Attempts</th>
                </tr>
            </thead>
            <tbody>
                {% for winner in winners %}
                <tr>
                    <td>{{ winner.winner_name }}</td>
                    <td>{{ winner.total_time }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>

        <div class="box">
            {{ message }}
            <form action="play_again" method="post" id="playAgain">
                {% csrf_token %}
                <input type="hidden" name="playagain">
                <button>Play again!</button>
            </form>
        </div>
    </div>
</body>

</html>