<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container my-5 w-50">
        <h1 class="py-4">All Shows</h1>
        <table class="table table-striped  table-bordered">
            <thead>
                <tr class="border-1 border-light">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for show in shows %}
            <tr class="border-1 border-light">
                <td><a href="shows/{{ show.id }}">{{ show.id }}</a></td>
                <td>{{ show.title }}</td>
                <td>{{ show.network }}</td>
                <td>{{ show.release_date|date:'F j, Y' }}</td>  
                <td>
                    <a href="shows/{{ show.id }}">Show</a>
                    |
                    <a href="shows/{{ show.id }}/edit">Edit</a>
                    |
                    <a href="shows/{{ show.id }}/destroy">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href='shows/new' class="py-5">Add new show</a>
    </div>
</body>

</html>