<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update TV Show</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container w-50 py-5 my-5">
        <a href="/shows" class="go-back">Go Back</a>
        <h1 class="pb-4">Edit Show {{ show.id }}</h1>
        <form action="/edit_show/{{ show.id }}" method="post">
            {% csrf_token %}

            <label for="title" class="fs-5">Title</label>
            <br>
            <input type="text" name="title" id="title" value="{{ show.title }}">

            <div class="d-flex">
                <div class="w-40">
                    <label for="network">Network</label>
                    <br>
                    <input type="text" name="network" id="network" value="{{ show.network }}">
                </div>

                <div class="w-40">
                    <label for="release_date">Release Date</label>
                    <br>
                    <input type="date" name="release_date" id="release_date" value="{{ show.release_date }}">
                </div>
            </div>

            <label for="desc">Description</label>
            <br>

            <textarea name="desc" rows="5" cols="50">{{ show.desc }}</textarea>

            <div class="w-75 text-center">
            <button>Update</button>
            <br>

            <a href="/shows/{{ show.id }}" class="text-center">Go to show</a>
            </div>

        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages%}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif%}


    </div>
</body>

</html>