.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
}

input {
    border: 2px solid #000;
    padding: 12px;
    margin: 15px 0;
    box-sizing: border-box;
}

button {
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    padding: 8px 12px;
    background-color: #fff;
}


.low, .high, .winner {
    width: 250px;
    height: 220px;
    color: white;
    margin: 30px 0;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 600;
    padding: 18px;
    button{
        margin-top: 35px;
    }

}
.low{
    background-color: #cf2a28;
}
.high{
    background-color: #286bcf;
}
.winner{
    background-color: #009d0e;
}

.d-block{
    display: block;
}
.d-none{
    display: none;
}