body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 50px auto;
    padding-left: 0 !important;
    padding-right: 0 !important;

    h3 {
        margin-bottom: 40px;
    }
}

span {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 50px;
    display: block;
}

.row {
    gap: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 40px;
}

.col {
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
button {
    padding: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: #fff;
    margin-top: 20px;
}

.activities {
    border: 2px solid black;
    padding: 30px;
    margin: 30px 0;
}

.height-300{
    height: 300px;
}
.red{
    color: red;
}
.green{
    color: green;
}