.table-bordered {
  border: 3px solid #000 !important; /* black bold border */
}
.table-bordered th,
.table-bordered td {
  border-left: 3px solid #000000 !important; /* light gray inner lines */
  border-right: 3px solid #000000 !important; /* light gray inner lines */
}


label{
    width: 25%;
    text-align: start;
    font-weight: 500;
}
input, textarea{
    width: 50%;
    border: 2px solid #000;
}

form{
    width: 35% !important;
}


button{
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
   margin-left: 50px !important;
}