<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container w-50 py-5 my-5">
        <h1>Are you sure you want to delete the following courses?</h1>
        <h4>Name: {{ course.course_name }}</h4>
        <h4>Description: {{ course.course_desc }}</h4>
        <button class="bg-secondary-subtle px-3 mt-3"><a class="text-black text-decoration-none" href="/">No</a></button>
        <button class="bg-danger px-4 ms-3 mt-3"><a class="text-white text-decoration-none" href="/delete/{{ course.id }}">Yes! I want to delete this</a></button>
    </div>


</body>
</html>