.container{
    width: 70% !important;
    margin: 48px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col{
    width: 400px !important;
}
.input_box{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 0;
}
.btn{
    width: 63%;
}
button{
    margin-left: 70px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    padding: 0px 8px;
}

h2{ 
    text-align: center;
    margin: 20px 0 !important;
}

h6{
    width: 25%; 
}
form{
    margin: auto;
}
input, select{
    width: 60%;
    padding: 5px;
    border: 2px solid #000;

}