<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h2>Thank you for your business!</h2>
        <p class="ps-3 pt-3">We charged your credit card for ${{ total_order_amount }}</p>
        <p class="ps-3">You have ordered #{{ total_quantity_ordered }} items so far and spent
            <br> $${{ total_of_order }} with Amadon.com!</p>
        <p class="ps-3"><a href="/">Go Back</a></p>
    </div>
</body>

</html>