<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="nav d-flex">
            <h3>Welcome, {{ logged_user.username }}</h3>
            <div><a href="/go_add_book">Add Book and Review</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="container d-flex align-items-center justify-content-between py-5">

            <ul class="list-unstyled">
                {% for book in books %}
                <li>
                    <h5><a href="/books/{{ book.id }}">{{ book.title }}</a></h5>
                    <h5>Rating: {{ book.rate }}</h5>
                    <h5>{{ book.user.username }} says: {{ book.review }}</h5>
                    <h5>{{ book.created_at }}</h5>
                </li>
                <br>
                {% endfor %}

            </ul>


        </div>

    </header>


</body>

</html>