body {
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

button{
    border:#000 solid 2px;
    box-shadow: 2px 2px #000;
    padding:5px 8px;
    margin: 10px;
    font-size: 14px;
    background-color: #fff;
}
input{
    padding: 8px;
    border:#000 solid 2px;

}
.low, .lose {
    background-color: #cf2b28;
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #000;
}

.high {
    background-color: #285dcf;
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #000;
}

.correct {
    background-color: #009d0e;
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #000;
}