<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="d-flex align-items-center justify-content-between p-2 border-bottom">
        <div class="avatar">
            <img src="" alt="">
            <h1>Welcome, {{ user.first_name }}{{ user.last_name }}</h1>
        </div>
        <a href="/logout">Logout</a>
    </div>

    <div class="container d-flex align-items-center justify-content-between gap-3">

        <form action="/update_game/{{ game.id }}" method="post" class="w-75 my-5 needs-validation" novalidate>
            {% csrf_token %}

            <input type="hidden" name="game_id" id="game_id" value="{{ game.id }}">

            <div>
                <label for="game_name" class="form-label">Game name</label>
                <input type="text" class="form-control" id="game_name" name="game_name" value="{{ game.game_name }}"
                    required>
                <div class="errors">
                    {% if errors %}
                    <p class="text-danger">{{ errors.gamename_valid }}</p>
                    {% endif %}
                </div>
            </div>

            <div>
                <label for="genre" class="form-label">Genre</label>
                <select name="genre" class="form-control" id="genre" value="{{ game.genre }}" required>
                    <option value="Action">Action</option>
                    <option value="Arcade">Arcade</option>
                    <option value="RGP">RGP</option>
                    <option value="ARCADE">ARCADE</option>
                    <option value="Tracial shooter">Tracial shooter</option>
                    <option value="Adventure">Adventure</option>
                </select>
            </div>

            <div>
                <label for="release_date" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="release_date" name="release_date"
                    value="{{ game.release_date }}" required>
                <div class="errors">
                    {% if errors %}
                    <p class="text-danger">{{ errors.gamename_valid }}</p>
                    {% endif %}
                </div>
            </div>

            <div>
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" id="desc" name="desc" value="{{ game.desc }}" required>
                <div class="errors">
                    {% if errors %}
                    <p class="text-danger">{{ errors.desc_valid }}</p>
                    {% endif %}
                </div>
            </div>

            <div>
                <button class="btn btn-primary">Apply</button>
            </div>

        </form>

        <div>
            <button class="btn"><a href="/dashboard">Cancel</a></button>
        </div>


</body>

</html>